<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">

        <div id="errors">
            {% for message in messages %}
                <ul></ul>
                    <li>{{message}}</li>
            {% endfor %}
        </div>    

        <div id="register_form">
            <h1>Register:</h1>
            <form action="/register" method="POST">
                {% csrf_token %}
                First Name: <input type="text" name="fname"><br>
                Last Name: <input type="text" name="lname"><br>
                Email: <input type="text" name="email"><br>
                Password: <input type="text" name="pw"><br>
                Confirm Password: <input type="text" name="confirmpw"><br>
                <input type="submit" value="Create User">
            </form>
        </div>

        <div id="login_form">
            <h1>Login:</h1>
            <form action="/login" method="POST">
                {% csrf_token %}
                Email: <input type="text" name="email"><br>
                Password: <input type="text" name="pw"><br>
                <input type="submit" value="Login"><br>
            </form>
        </div>

    </div>
</body>
</html>