<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome {{request.session.user}}, you have successfully logged in!</h1>

    <h2>Write a Post:</h2>
    <form action="/make_post" method="POST">
        {% csrf_token %}
        <input type="text" name="mess">
        <input type="submit" value="Post">
    </form>

    <div id='posts'>
        {% for post in wall_messages %}
        <div class='one_post'>
            <h4>Poster: {{post.poster.first_name}} {{post.poster.last_name}}</h4>
            <p>{{post.message}}</p>
        </div>
        {% endfor %}
    </div>

    <a href="/logout">Logout</a>
</body>
</html>