<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">
        <a href="/logout">Logout</a>

        <h1>Welcome {{request.session.user}}, you have successfully logged in!</h1>

        <h2>Write a Post:</h2>
        <form action="/make_post" method="POST">
            {% csrf_token %}
            <input type="text" name="mess">
            <input type="submit" value="Post">
        </form>

        <div id='posts'>
            {% for post in wall_messages %}
            <div class='one_post'>
                <p>{{post.message}}</p>
                <h4>Poster: <a href="/user_profile/{{post.poster.id}}">{{post.poster.first_name}} {{post.poster.last_name}}</a></h4>
                <form action="/add_comment/{{post.id}}" method=POST>
                    {% csrf_token %}
                    Comment: <input type="text" name="comment">
                    <input type="hidden" value={{post.id}} name="message_posted">
                    <input type="submit" value="Submit">
                </form>

                <a href="/like/{{post.id}}">Like Post!</a>
                <p>{{post.user_likes.count}}</p> 
                <!-- post=post in for loop, user_likes=from wall_messages in models  -->

                <div id="comment">
                    {% for comment in post.post_comments.all %}
                        <p>{{comment.comment}}</p>
                        <h4>Posted By: {{comment.poster.first_name}} {{comment.poster.last_name}}</h4>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</body>
</html>